@use "../../scss" as *;
.header {
  height: $header-height;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: height 0.3s ease, background-color 0.3s ease;
  z-index: 10;
  &.shrink {
    height: $header-shrink-height;
    background-color: $body-bg;
  }

  &_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  &_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      position: relative;
      font-weight: 700;
      font-size: 1.5rem;
      padding: 2px 0;
      a:hover {
        color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        transition: width 0.2s ease;
        background-color: $main-color;
      }
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
    li + li {
      margin-left: 2rem;
    }
  }
}
.logo {
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
    width: 50px;
  }
}
